.ChatContainer {
  background: #bac2cc;
  gap: 1rem;
  height: 88.5vh;
  padding: 1rem;
}

.ChatRoomListBox {
  max-width: 380px;
  min-width: 280px;
  height: 100%;
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ChatBox {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.MessageInputArea div:first-child {
  padding: 0;
  margin: 0;
}

#message-area {
  padding: 6px;
}

.ChatRoomListBox .css-1jjpkau {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.ChatRoomListBox .css-1iz4iln {
  position: unset;
  cursor: pointer;
}

.ChatRoomListBox .css-1kcggdq-MuiInputBase-root .MuiInputBase-input {
  padding-left: unset !important;
}

.SearchBoxWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;
}

.SearchBoxWrapper .css-2s90m6-MuiAvatar-root:hover {
  cursor: pointer;
  color: #030303;
}
  /* transition: 0.3s; */